*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

h2 {
    font-family: raleway, sans-serif;
}

.hello {
    color: red;
    background-color: antiquewhite;
}

.siteheader {
    display: flex;
    width: 100vw;
    height: 64px;
    background-color: rgba(17, 17, 17, 0.9);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
        ul {
            display: flex;
            list-style: none;
            li {
                a {
                    color: white;
                    font-family: raleway, sans-serif;
                    font-size: 1.25rem;
                    padding: 1rem;
                    cursor: pointer;
                    &.active {
                        background-color: rgba(245, 245, 245, 0.9);
                        color: rgba(17, 17, 17, 0.9);
                    }
                }
            }
        }
    }
}

main {
    .wrapper {
        background-image: url("/src/img/rest1.jpg");
        width: 100vw;
        height: 100vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .logoContainer {
            background-color: rgba(17, 17, 17, 0.9);
            width: 250px;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            display: none;
            ///TA BORT SEN
            h2 {
                color: white;
                font-size: 4rem;
            }
        }
    }
    .siteContainer {
        width: 100vw;
        height: 100vh;
        background-color: antiquewhite;
        display: flex;
        padding-top: 64px;
        .imgContainer {
            flex: 0 0 30%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .textContainer {
            flex: 0 0 70%;
            height: 100%;
        }
    }
}
